* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    align-items: center;
}

.card {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.calm {
    background-color: green;
}

.attention {
    background-color: yellow;
}

.stop {
    background-color: red;
}

.default {
    background-color: white;
}

.menu {
    background-color: chocolate;
}

.boxButton{
    margin-bottom: 20px;
}
