* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#load {
    margin-top: 15px;
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
}

#listUsers {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px black solid;
    padding: 5px;
}